{% if S_HEADER_INFO_POSITION4 %}
	<div id="info-scroll"  class="info-scroll rightside">
     <ul class="topiclist">
         <li class="header">
            <dl class="row-item">
            <dt><i class="fa fa-thumbs-up" aria-hidden="true"></i> {L_HEADER_INFO_SCROLL_INDEX}</dt>
           <dd></dd>
           </dl>
         </li>
      </ul>
	<div style="position: relative; float:right; padding-right:20px; margin-top: -20px; height:17px;">
	<a href="#" title="{L_PREVIOUS_SCROLL}" id="tickerb-previous">
		<img src="{BOARD_URL}ext/orynider/custom_headernfo/styles/prosilver/theme/images/rewind.png" width="16" height="16" alt="{L_PREVIOUS_SCROLL}" />
	</a> 
	<a href="#" title="{L_NEXT_SCROLL}" id="tickerb-next">
		<img src="{BOARD_URL}ext/orynider/custom_headernfo/styles/prosilver/theme/images/fastforward.png" width="16" height="16" alt="{L_NEXT_SCROLL}" />
	</a> 
	<a href="#" title="{L_STOP_SCROLL}" id="stopb">
		<img src="{BOARD_URL}ext/orynider/custom_headernfo/styles/prosilver/theme/images/control_stop.png" width="16" height="16" alt="{L_STOP_SCROLL}" />
	</a> 
	<a href="#" title="{L_START_SCROLL}" id="startb">
		<img src="{BOARD_URL}ext/orynider/custom_headernfo/styles/prosilver/theme/images/control_play.png" width="16" height="16" alt="{L_START_SCROLL}" />
	</a>
	</div>
<!-- IF HEADER_INFO_IS_COLLAPSIBLE -->
<a href="{U_HEADER_INFO_COLLAPSE_URL}" class="collapse-btn collapse-<!-- IF S_HEADER_INFO_HIDDEN -->show<!-- ELSE -->hide<!-- ENDIF -->"
		data-hidden="{S_HEADER_INFO_HIDDEN}"
		data-ajax="phpbb_collapse"
		data-overlay="true"
		title="{L_COLLAPSIBLE_CATEGORIES_TITLE}">
</a>
<!-- ENDIF -->
	<div class="vertical-tickerb">   
	    <ul id="vertical-tickerb" class="topiclist forums">
			<!-- BEGIN header_info_scroll -->
			<!-- INCLUDECSS @orynider_custom_headernfo/{header_info_scroll.HEADER_INFO_DB_FONT}.css -->
	             <li class="bg1" style="border-radius: {header_info_scroll.HEADER_INFO_RADIUS}">
			        <!-- IF header_info_scroll.S_SIMPLE_DB_TEXT_ENABLED --><div style="background-image: url('{header_info_scroll.HEADER_INFO_IMAGE}');"><!-- ENDIF -->
						<!-- IF header_info_scroll.S_HTML_MULTI_TEXT_ENABLED or header_info_scroll.S_SIMPLE_DB_TEXT_ENABLED -->
						<div style="max-width: {header_info_scroll.HEADER_INFO_PIC_WIDTH}; max-height: {header_info_scroll.HEADER_INFO_PIC_HEIGHT}; border-radius: {header_info_scroll.HEADER_INFO_CORNERS};">
							<dt id="header_info_title" style="font-color: {header_info_scroll.HEADER_INFO_DESC_COLOUR}; font-size: 11px; font-family: {header_info_scroll.HEADER_INFO_DB_FONT};">
								<a href="{header_info_scroll.HEADER_INFO_URL}">
								   <p>{header_info_scroll.HEADER_INFO_RANDDESC}</p>
								</a>
							</dt>
							<br />
							<div id="header_info_title" style="font-color: {header_info_scroll.HEADER_INFO_TITLE_COLOUR}; float: <!-- IF S_CONTENT_DIRECTION neq 'rtl' -->left<!-- ELSE -->right<!-- ENDIF -->; font-weight: bold; font-size: 18px; color: #000000; font-family: {header_info_scroll.HEADER_INFO_DB_FONT};">
								{header_info_scroll.HEADER_INFO_TITLE}
							</div>
						</div>
						<!-- ELSE -->
	                    <a href="{header_info_scroll.HEADER_INFO_URL}">
						<img src="<!-- IF S_THUMBNAIL -->{header_info_scroll.THUMBNAIL_URL}?info_id={header_info_scroll.HEADER_INFO_ID}&amp;resize_width={header_info_scroll.HEADER_INFO_PIC_WIDTH}&amp;resize_height={header_info_scroll.HEADER_INFO_PIC_HEIGHT}<!-- ELSE -->{header_info_scroll.HEADER_INFO_IMAGE} <!-- ENDIF -->" title="{header_info_scroll.HEADER_INFO_NAME}{{ lang('COLON') }}" alt="{header_info_scroll.HEADER_INFO_URL}" style="width: {header_info_scroll.HEADER_INFO_PIC_WIDTH}px; height: {header_info_scroll.HEADER_INFO_PIC_HEIGHT}px;" />
						</a>
						<!-- ENDIF -->
					 <!-- IF header_info_scroll.S_SIMPLE_DB_TEXT_ENABLED --></div><!-- ENDIF -->
			    </li>
		    <!-- BEGINELSE -->
			<span class="center-inforoll">{L_HEADER_INFO_SCROLL_NOTHING}</span>
		    <!-- END header_info_scroll --> 
		</ul>
	</div> 
	</div>
{% endif %}