{% if S_HEADER_INFO_POSITION3 %}
	<div id="info-scroll" class="info-scroll rightside responsive-hide">
      <ul class="topiclist">
         <li class="header">
            <dl class="row-item">
            <dt><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{ lang('HEADER_INFO_SCROLL_INDEX') }}</dt>
	       <dd></dd>
	      </dl>
         </li>
      </ul>
	<div style="position: relative; float:right; padding-right:20px; margin-top: -20px; height:17px;">
	<a href="#" title="{{ lang('PREVIOUS_SCROLL') }}" id="tickerb-previous">
		<img src="{BOARD_URL}ext/orynider/customheadernfo/styles/prosilver/theme/images/rewind.png" width="16" height="16" alt="{{ lang('PREVIOUS_SCROLL') }}" />
	</a> 
	<a href="#" title="{{ lang('NEXT_SCROLL') }}" id="tickerb-next">
		<img src="{BOARD_URL}ext/orynider/customheadernfo/styles/prosilver/theme/images/fastforward.png" width="16" height="16" alt="{{ lang('NEXT_SCROLL') }}" />
	</a> 
	<a href="#" title="{{ lang('STOP_SCROLL') }}" id="stopb">
		<img src="{BOARD_URL}ext/orynider/customheadernfo/styles/prosilver/theme/images/control_stop.png" width="16" height="16" alt="{{ lang('STOP_SCROLL') }}" />
	</a> 
	<a href="#" title="{{ lang('START_SCROLL') }}" id="startb">
		<img src="{BOARD_URL}ext/orynider/customheadernfo/styles/prosilver/theme/images/control_play.png" width="16" height="16" alt="{{ lang('START_SCROLL') }}" />
	</a>
	</div>
{% if HEADER_INFO_IS_COLLAPSIBLE %}
<a href="{U_HEADER_INFO_COLLAPSE_URL}" class="collapse-btn collapse-{% if S_HEADER_INFO_HIDDEN %}show{% else %}hide{% endif %}"
		data-hidden="{S_HEADER_INFO_HIDDEN}"
		data-ajax="phpbb_collapse"
		data-overlay="true"
		title="{{ lang('COLLAPSIBLE_CATEGORIES_TITLE') }}">
</a>
{% endif %}
	<div class="vertical-tickerb">   
	    <ul id="vertical-tickerb" class="topiclist forums">
			{% for header_info_scroll in loops.header_info_scroll %}
			<!-- INCLUDECSS @orynider_customheadernfo/{header_info_scroll.HEADER_INFO_DB_FONT}.css -->
	            <li class="bg1" style="border-radius: {header_info_scroll.HEADER_INFO_RADIUS}">
			        {% if  header_info_scroll.S_SIMPLE_DB_TEXT_ENABLED %}<div style="background-image: url('{header_info_scroll.HEADER_INFO_IMAGE}'; max-width: {header_info_scroll.HEADER_INFO_PIC_WIDTH}; max-height: {header_info_scroll.HEADER_INFO_PIC_HEIGHT}; border-radius: {header_info_scroll.HEADER_INFO_CORNERS}; height: {ROW_HEIGHT};">{% endif %}
					{% if  header_info_scroll.S_HTML_MULTI_TEXT_ENABLED or header_info_scroll.S_SIMPLE_DB_TEXT_ENABLED %}
						<div style="max-width: {header_info_scroll.HEADER_INFO_PIC_WIDTH}; max-height: {header_info_scroll.HEADER_INFO_PIC_HEIGHT}; height: {ROW_HEIGHT}; border-radius: {header_info_scroll.HEADER_INFO_CORNERS};">
							<dt id="header_info_title" style="font-color: {header_info_scroll.HEADER_INFO_DESC_COLOUR}; font-size: 11px; font-family: {header_info_scroll.HEADER_INFO_DB_FONT}; height: {ROW_HEIGHT};">
								<a href="{header_info_scroll.HEADER_INFO_URL}">
								   <p>{header_info_scroll.HEADER_INFO_RANDDESC}</p>
								</a>
							</dt>
							<br />
							<div id="header_info_title" style="font-color: {header_info_scroll.HEADER_INFO_TITLE_COLOUR}; float: {% if  S_CONTENT_DIRECTION neq 'rtl' %}left{% else %}right{% endif %}; font-weight: bold; font-size: 18px; color: #000000; font-family: {header_info_scroll.HEADER_INFO_DB_FONT};">
								{header_info_scroll.HEADER_INFO_TITLE}
							</div>
						</div>
					{% else %}
					<div style="text-align: center;">
						<a href="{header_info_scroll.HEADER_INFO_URL}">
						   <p>{header_info_scroll.HEADER_INFO_RANDDESC}</p>
						</a>
	                    <a href="{header_info_scroll.HEADER_INFO_URL}">
							<img src="{% if S_THUMBNAIL %}{header_info_scroll.THUMBNAIL_URL}?info_id={header_info_scroll.HEADER_INFO_ID}&amp;resize_width={header_info_scroll.HEADER_INFO_PIC_WIDTH}&amp;resize_height={header_info_scroll.HEADER_INFO_PIC_HEIGHT}{% else %}{header_info_scroll.HEADER_INFO_IMAGE} {% endif %}" title="{header_info_scroll.HEADER_INFO_NAME}{{ lang('COLON') }}" alt="{header_info_scroll.HEADER_INFO_URL}"  height="{header_info_scroll.HEADER_INFO_PIC_HEIGHT}" width="{header_info_scroll.HEADER_INFO_PIC_WIDTH}" />
						</a>
					</div>
						{% endif %}
					
				 {% if header_info_scroll.S_SIMPLE_DB_TEXT_ENABLED %}</div>{% endif %}
			    </li>
			{% else %}
			<span class="center-inforoll">{{ lang('HEADER_INFO_SCROLL_NOTHING') }}</span>
		    {% endfor %} 
		</ul>
	</div> 
	</div>
{% endif %}
