<!-- INCLUDE overall_header.html -->

<h1>{L_HEADER_INFO_TITLE}</h1>

<p>{L_HEADER_INFO_INTRO}</p>

<p>{L_HEADER_INFO_DONATE_EXPLAIN} {L_HEADER_INFO_DONATE}</p>

<form id="acp_header_info" method="post" action="{U_ACTION}">
  <fieldset>
	<!-- IF MODULE_NAME -->
        <dl>
				<dt><label for="module_name">{L_MODULE_NAME}</label><br /><span>{L_MODULE_NAME_EXPLAIN}</span></dt>
				<dd><input type="text" size="40" id="module_name" name="module_name" value="{MODULE_NAME}" /></dd>
		</dl>
	<!-- ENDIF -->
	<!-- IF SHOW_AMOUNT -->
        <dl>
				<dt><label for="show_amount">{L_SHOW_AMOUNT}</label><br /><span>{L_SHOW_AMOUNT_EXPLAIN}</span></dt>
				<dd><input type="text" size="40" id="show_amount" name="show_amount" value="{SHOW_AMOUNT}" /></dd>
		</dl>
	<!-- ENDIF -->
	<!-- IF HEADER_INFOVERSION -->
        <dl>
				<dt><label for="header_info_version">{L_HEADER_INFO_VERSION}</label><br /><span>{L_HEADER_INFO_CHECK}</span></dt>
				<dd><input type="text" size="40" id="header_info_version" name="header_info_version" value="{HEADER_INFOVERSION}"  {READONLY} /></dd>
		</dl>
	<!-- ENDIF -->
	<!-- IF WYSIWYG_PATH -->
        <dl>
				<dt><label for="wysiwyg_path">{L_WYSIWYG_PATH}</label><br /><span>{L_WYSIWYG_PATH_EXPLAIN}</span></dt>
				<dd><input type="text" size="40" id="wysiwyg_path" name="wysiwyg_path" value="{WYSIWYG_PATH}" /></dd>
		</dl>
	<!-- ENDIF -->
	<!-- IF BACKGROUNDS_DIR --><!-- ENDIF -->
        <dl>
				<dt><label for="backgrounds_dir">{L_BACKGROUNDS_DIR}</label><br /><span>{L_BACKGROUNDS_DIR_EXPLAIN}</span></dt>
				<dd><input type="text" size="40" id="backgrounds_dir" name="backgrounds_dir" value="{BACKGROUNDS_DIR}" /></dd>
		</dl>
	
	<!-- IF BANNERS_DIR--><!-- ENDIF -->
        <dl>
				<dt><label for="banners_dir">{L_BANNERS_DIR}</label><br /><span>{L_BANNERS_DIR_EXPLAIN}</span></dt>
				<dd><input type="text" size="40" id="banners_dir" name="banners_dir" value="{BANNERS_DIR}" /></dd>
		</dl>
	
	<dl>
		<dt>
			<label for="banner_position">{{ lang('HEADER_INFO_POSITION') }}{{ lang('COLON') }}</label>
			<span>{L_HEADER_INFO_ENABLE_EXPLAIN}<br />
		</dt>
	</dl>
        <dl>
			<dt>
			<label for="header_info_enable">{L_HEADER_INFO_ENABLE}{L_COLON}</label><br />
			</dt>
			<dd>
			<label><input type="radio" class="radio" name="header_info_enable" value="1"<!-- IF S_HEADER_INFO_ENABLED --> id="header_info_enable" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="header_info_enable" value="0"<!-- IF not S_HEADER_INFO_ENABLED --> id="header_info_enable" checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>

	
	<dl>
		<dt>
			<label for="banner_custom">{{ lang('HEADER_INFO_HEADER') }}</label>
		</dt>
		<dd>
			<label><input type="radio" class="radio" name="banner_position2" value="1"{% if S_HEADER_INFO_POSITION2 %} id="header_info_position" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="banner_position2" value="0"{% if not S_HEADER_INFO_POSITION2 %} id="header_info_position" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</dd>
	</dl>
	
	<dl>
		<dt>
			<label for="banner_custom">{{ lang('HEADER_INFO_NAVBAR') }}</label>
		</dt>
		<dd>
			<label><input type="radio" class="radio" name="banner_position1" value="1"{% if S_HEADER_INFO_POSITION1 %} id="header_info_position" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="banner_position1" value="0"{% if not S_HEADER_INFO_POSITION1 %} id="header_info_position" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</dd>
	</dl>

	<dl>
		<dt>
			<label for="banner_custom">{{ lang('HEADER_INFO_INDEX') }}</label>
		</dt>
		<dd>
			<label><input type="radio" class="radio" name="banner_position3" value="1"{% if S_HEADER_INFO_POSITION3 %} id="header_info_position" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="banner_position3" value="0"{% if not S_HEADER_INFO_POSITION3 %} id="header_info_position" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</dd>
	</dl>
	<br style="margin-bottom:8px;"/>

	
    <p class="submit-buttons">
		  <input class="button1" type="submit" id="submit" name="enable_submit" value="{L_SUBMIT}" />&nbsp;
		  <input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
    </p>
    {S_FORM_TOKEN}
	</fieldset>
</form>

<form id="acp_header_info" method="post" action="{U_ACTION}">  
  <fieldset>
    <legend><!-- IF HEADER_INFO_EDIT -->{L_HEADER_INFO_EDIT}<!-- ELSE -->{L_HEADER_INFO_ADD}<!-- ENDIF --></legend>
        <dl>
			<dt><label for="name">{L_HEADER_INFO_NAME}</label><br /><span>{L_HEADER_INFO_NAME_EXPLAIN}</span></dt>
			<dd><input type="text" size="40" id="name" name="header_info_name"<!-- IF HEADER_INFO_NAME --> value="{HEADER_INFO_NAME}"<!-- ENDIF --> /></dd>
		</dl>
        <dl>
			<dt><label for="desc">{L_HEADER_INFO_DESC}</label><br /><span>{L_HEADER_INFO_DESC_EXPLAIN}</span></dt>
			<dd><input type="text" size="40" id="desc" name="header_info_desc"<!-- IF HEADER_INFO_DESC --> value="{HEADER_INFO_DESC}"<!-- ENDIF --> /></dd>
		</dl>
        <dl>
			<dt><label for="longdesc">{L_HEADER_INFO_LONGDESC}</label><br /><span>{L_HEADER_INFO_LONGDESC_EXPLAIN}</span></dt>
			<dd><input type="text" size="40" id="longdesc" name="header_info_longdesc"<!-- IF HEADER_INFO_LONGDESC --> value="{HEADER_INFO_LONGDESC}"<!-- ENDIF --> /></dd>
		</dl>
		<dl>
			<dt><label for="url">{L_HEADER_INFO_URL}</label><br /><span>{L_HEADER_INFO_URL_EXPLAIN}</span></dt>
			<dd><input type="text" size="40" id="url" name="header_info_url"<!-- IF HEADER_INFO_URL --> value="{HEADER_INFO_URL}"<!-- ENDIF --> /></dd>
		</dl>
		<dl>
			<dt><label for="type">{L_HEADER_INFO_TYPE}</label><br /><span>{L_HEADER_INFO_TYPE_EXPLAIN}</span></dt>
			<dd><input type="text" size="40" id="type" name="header_info_type"<!-- IF HEADER_INFO_TYPE --> value="{HEADER_INFO_TYPE}"<!-- ENDIF --> /></dd>
		</dl>
		<!-- IF HEADER_INFO_TYPE  eq 'language' -->
		<dl>
			<dt><label for="dir">{L_HEADER_INFO_DIR}</label><br /><span>{L_HEADER_INFO_DIR_EXPLAIN}</span></dt>
			<dd><input type="text" size="40" id="dir" name="header_info_dir"<!-- IF HEADER_INFO_DIR --> value="{HEADER_INFO_DIR}"<!-- ENDIF --> /></dd>
		</dl>
		<!-- ENDIF -->
		<dl>
			<dt><label for="image">{L_HEADER_INFO_IMAGE}</label><br /><span>{L_HEADER_INFO_IMAGE_EXPLAIN}</span></dt>
			<dd><input type="text" size="40" id="image" name="header_info_image"<!-- IF HEADER_INFO_IMAGE --> value="{HEADER_INFO_IMAGE}"<!-- ENDIF --> /></dd>
		</dl>
        <dl>
			<dt>
			<label for="link">{L_HEADER_INFO_LINK}{L_COLON}</label><br />
			</dt>
			<dd>
			<label><input type="radio" class="radio" id="link" name="header_info_link" value="1"<!-- IF S_HEADER_INFO_LINK_CHECKED  eq 0 --> id="header_info_link" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" id="link" name="header_info_link" value="0"<!-- IF S_HEADER_INFO_LINK_CHECKED eq 1 --> id="header_info_link" checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="type">{L_HEADER_INFO_LICENSE}</label><br /><span>{L_HEADER_INFO_LICENSE_EXPLAIN}</span></dt>
			<dd><input type="text" size="40" id="licence" name="header_info_license"<!-- IF HEADER_INFO_LICENSE --> value="{HEADER_INFO_LICENSE}"<!-- ENDIF --> /></dd>
		</dl>
	  <dl>
		<dt class="bg1"><label for="pin">{L_HEADER_INFO_PINNED}</label><br><span>{L_HEADER_INFO_PINNED_INFO}</span></dt>
		<dt class="bg2">
			<label><input type="radio" class="radio" id="pin" name="header_info_pin" value="0"<!-- IF S_HEADER_INFO_PIN_CHECKED eq 1 --> id="header_info_disable" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" id="pin" name="header_info_pin" value="1"<!-- IF S_HEADER_INFO_PIN_CHECKED eq 0 --> id="header_info_disable" checked="checked"<!-- ENDIF --> /> {L_NO}</label>
		</dt>
	  </dl>
        <dl>
			<dt>
			<label for="header_info_disable">{L_HEADER_INFO_DISABLE}{L_COLON}</label><br />
			</dt>
			<dd>
			<label><input type="radio" class="radio" id="disable" name="header_info_disable" value="0"<!-- IF S_HEADER_INFO_DISABLE eq 1 --> id="header_info_disable" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" id="disable" name="header_info_disable" value="1"<!-- IF S_HEADER_INFO_DISABLE eq 0 --> id="header_info_disable" checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
    <p class="submit-buttons">
		  <!-- IF HEADER_INFO_EDIT -->
		  <input type="hidden" name="edit" value="{HEADER_INFO_EDIT}" />
		  <!-- ENDIF -->
		  <input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />
		  <input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
    </p>
    {S_FORM_TOKEN}
	</fieldset>
</form>

<table class="table1 zebra-table" id="down">
	<thead>
	<tr>
		<th>{L_ID}</th>	
		<th>{L_HEADER_INFO_IMAGE_B}</th>
		<th>{L_HEADER_INFO_NAME_B}</th>
		<th>{L_ACTION}</th>
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN header_info_scroll -->
		<tr>
		    <td width="10%">{header_info_scroll.HEADER_INFO_ID}</td>
			<td style="text-align: center;">
			<img src="<!-- IF S_THUMBNAIL -->{header_info_scroll.THUMBNAIL_URL}?info_id={header_info_scroll.HEADER_INFO_ID}<!-- ELSE -->{header_info_scroll.HEADER_INFO_IMAGE} <!-- ENDIF -->" title="{L_HEADER_INFO_URL_B}{L_COLON} {header_info_scroll.HEADER_INFO_URL}" alt="" />
			</td>
            <td>{header_info_scroll.HEADER_INFO_NAME}</td>
			<td class="actions"><a href="{header_info_scroll.U_EDIT}">{ICON_EDIT}</a> <a href="{header_info_scroll.U_DELETE}" data-ajax="row_delete">{ICON_DELETE}</a></td>
		</tr>
	<!-- BEGINELSE -->
		<tr class="row3">
			<td colspan="3">{L_ACP_NO_BANNER}</td>
		</tr>
	<!-- END header_info_scroll -->
	</tbody>
	</table>
    <br />
	<div class="successbox">
    <div style="text-align: center;">&copy; {L_HEADER_INFO_COPYRIGHT} {L_HEADER_INFO_VERSION} {BANNER_VERSION}</div>
	</div>

<!-- INCLUDE overall_footer.html -->
